{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "pieces" . }}

<table>
	<caption><code>.Pages</code></caption>
	<tr>
		<th>Kind</th>
		<th>Type</th>
		<th>Title</th>
	</tr>
	{{ range .Pages }}
		<tr>
			<td>{{ .Kind }}</td>
			<td>{{ .Type }}</td>
			<td>{{ .Title }}</td>
		</tr>
	{{ end }}
</table>

<table>
	<caption><code>.Data.Pages</code></caption>
	<tr>
		<th>Kind</th>
		<th>Type</th>
		<th>Title</th>
	</tr>
	{{ range .Data.Pages }}
		<tr>
			<td>{{ .Kind }}</td>
			<td>{{ .Type }}</td>
			<td>{{ .Title }}</td>
		</tr>
	{{ end }}
</table>

<table>
	<caption><code>.Site.Pages</code></caption>
	<tr>
		<th>Kind</th>
		<th>Type</th>
		<th>Title</th>
	</tr>
	{{ range .Site.Pages }}
		<tr>
			<td>{{ .Kind }}</td>
			<td>{{ .Type }}</td>
			<td>{{ .Title }}</td>
		</tr>
	{{ end }}
</table>

{{ end }}
